<log4net>
  <appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
    <threshold value="DEBUG"/>
    <mapping>
      <level value="DEBUG"/>
      <foreColor value="Blue, HighIntensity"/>
      <backColor value="White, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="ERROR"/>
      <foreColor value="Red, HighIntensity"/>
      <backColor value="White, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="FATAL"/>
      <foreColor value="Red, HighIntensity"/>
      <backColor value="White, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="WARN"/>
      <foreColor value="Yellow, HighIntensity"/>
      <backColor value="White, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="INFO"/>
      <foreColor value="Green"/>
      <backColor value="White, HighIntensity"/>
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{HH:mm:ss} - [%level%] %message%newline"/>
    </layout>
  </appender>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="newlogs\TicTacToe.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="30"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level - %logger &gt;&gt; %message%newline"/>
    </layout>
  </appender>
  <appender name="RollingErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="newlogs\errors\TicTacToe_ErrorLog.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="30"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="Date/Time: %date%newline%Thread: %t%newline%message%newline%newline"/>
    </layout>
    <threshold value="ERROR"/>
  </appender>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="Console"/>
    <appender-ref ref="RollingFileAppender"/>
    <appender-ref ref="RollingErrorFileAppender"/>
  </root>
  <logger name="NHibernate">
    <level value="ERROR"/>
  </logger>
  <logger name="NHibernate.SQL">
    <level value="ERROR"/>
  </logger>
</log4net>